@{
    ViewData["Title"] = "Home Page";
}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="index.html" class="list-group-item active main-color-bg">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                    </a>
                    <a href="comments.html" class="list-group-item"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments <span class="badge">12</span></a>
                    <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Gifts <span class="badge">33</span></a>
                    <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge">203</span></a>
                </div>

                <div class="well">
                    <h4>Current activity progress</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                    <h4>Some other stuff... </h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                            40%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <!-- Transfer Activity Overview -->
                <div class="panel panel-default">
                    <div class="panel-heading main-color-bg">
                        <h3 class="panel-title">Gift Transfer Overview</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="well dash-box">
                                <h2><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 12,534</h2>
                                <h4>Gifts</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="well dash-box">
                                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 205</h2>
                                <h4>Senders</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="well dash-box">
                                <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 205</h2>
                                <h4>Beneficiaries</h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="well dash-box">
                                <h2><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 355 </h2>
                                <h4>Comments</h4>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Users' statistics-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Remaining credits</th>
                            </tr>
                            <tr>
                                <td>Peter Peterson</td>
                                <td>peter@gmail.com</td>
                                <td>19</td>
                            </tr>
                            <tr>
                                <td>Clive Owen</td>
                                <td>cliveland@yahoo.com</td>
                                <td>14901</td>
                            </tr>
                            <tr>
                                <td>Japan Lewis</td>
                                <td>japan@gmail.com</td>
                                <td>1057</td>
                            </tr>
                            <tr>
                                <td>Mimi Stevenson</td>
                                <td>mn.petrova@yahoo.com</td>
                                <td>5892</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
